'.js.jsx':

  'action-creation':
    prefix: 'fact'
    body: '''
      export const $1 = 'APP_$1';

      export function $2($3) {
        return {
          type: $1,
          $3
        }
      }
    '''
